.triptych-rightPanel {
  border-left: 1px solid #d1d4d4
}

.triptych-left-panel-icons-with-text {
  padding: 10%;
}

.triptych-left-panel-only-icons {
  display: grid !important;
}

.all-activity-section {
  padding-bottom: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
}

.action-new.activity-btn {
  padding: 0px !important;
}

.activity-section {
  font-size: large !important;
  padding-bottom: 10px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.extended-welcome-panel-view-container {
  background-color: #f9f9f9;
}

.button-expand {
  color: #d1d4d4 !important;
}

.setview-topbar {
  display: inline-flex;
  color: #b4b6ba;
  width: 100%;
}

.setview-topbar-divider {
  border-bottom: 1px solid #b4b6ba;
}

.setview-topbar .setview-topbar-header {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.setview-topbar .setview-topbar-title {
  overflow: hidden;
}

.setview-topbar .setview-topbar-title h3 {
  margin-top: 5px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.setview-topbar .setview-topbar-count {
  white-space: nowrap;
  border-left: 1px solid;
  padding-left: 3px;
}

.setview-topbar .setview-topbar-count h3 {
  margin-top: 5px !important;
}

.setview-topbar .setview-topbar-actions {
  float: right;
  font-size: 22px;
  vertical-align: middle;
  margin-top: 2px;
}

.setview-main-container {
  height: inherit;
}

.setview-content {
  height: inherit;
  position: relative;
}

.wux-layouts-treeview-node .wux-layouts-treeview-expander {
  display: none;
}

.wux-tree-treelistview {
  height: 100%;
}

.wux-datagrid {
  height: 100% !important;
}

.wux-layouts-gridengine .wux-layouts-gridengine-columns-header-container .wux-datagrid-cell.wux-datagrid-header {
  font-size: small;
  font-weight: bold !important;
  text-align: center;
}

.wux-layouts-gridengine {
  height: 100% !important;
}

.dummy-3dplay-message {
  position: absolute;
  bottom: 1em;
  font-size: x-large;
  font-family: '3ds';
  color: #77797c;
  width: 100%;
  z-index: 100000;
  text-align: center;
}

.tab-container {
  height: 100% !important;
}

.wux-controls-abstract.wux-controls-tab {
  height: 100% !important;
}

.tabContainer.wux-controls-tab-container.wux-controls-tab-strip {
  height: 100% !important;
}

.wux-controls-tabBar-tabs-container.wux-controls-tabBar-centered.wux-controls-tabbar-strip {
  float: left;
}

.wrapper-for-standalone-dialog {
  width: 100% !important;
  height: 100% !important;
}

.form .form-group .field-group {
  position: absolute !important;
  margin-left: 250px !important;
}

.form .form-group .object-list {
  position: absolute !important;
  margin-left: 250px !important;
}

.nv-pager .pageLinks .selected {
  color: white;
  background-color: #42A2DA;
  border-color: #42A2DA;
}

.wux-ui-3ds-favorite-on {
  color: #368ec4;
}

.title-section-buttons {
  display: flex !important;
  width: 60px !important;
}

.mainView-toggle {
  transform: rotate(180deg);
}

.empty-collection {
  text-align: center;
  color: #cfcfcf;
  font-size: 2em;
  z-index: 100000;
  margin-top: 20%;
}

.wux-controls-responsivetileview-propertyDesc {
  color: dimgrey;
}

.wux-controls-responsivethumbnailview-propertyDesc {
  color: dimgrey;
}

.history-icon-div {
  display: inline;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0.5%;
  color: white;
  font-size: 14px;
  z-index: 100;
}

.history-icon {
  background-color: #77797c;
  border-radius: 50%;
  color: white;
  line-height: 34px;
  font-size: 16px;
  vertical-align: top;
  width: 3%;
  vertical-align: middle;
}

.history-content {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: inline-table;
  width: 95%;
  padding: 0.5%;
}

.history-header-date {
  display: inline;
  float: right;
  margin-right: 0.5%;
  color: #b4b6ba;
  font-size: .8em;
}

.history-main-div {
  padding-bottom: 2%;
}

.highlightedSearchCriteria {
  font-weight: bold;
  background-color: rgba(232, 123, 0, 0.5);
  color: rgba(0, 0, 0, 1);
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node {
  cursor: pointer;
}

.node rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.attribute-section{
  padding-left:0px !important;
  overflow: unset !important;
}
