
.sliderContentDiv
{
    height:100%;
    width:0px;
    float:left;
    overflow:auto;
}

.sliderContentDivIESpecific
{
    height:100%;
    width:0px;
    float:left;
    overflow:auto;
}

.sliderContentDiv.open 
{
    width:350px;
    /* width:35%;  this is not a fix - it works 'fine' for a normal screen, terrible for small / large screen*/
    transition-property: width;
    transition-duration: 1s;
}

.sliderContentDivIESpecific.open 
{
    width:350px;
    /* width:35%;  this is not a fix - it works 'fine' for a normal screen, terrible for small / large screen*/
   /*  transition-property: width;
    transition-duration: 1s; */
}

.sliderContentDiv.close 
{
    transition-property: width;
    transition-duration: 1s;
    width: 0px;
    overflow:hidden;
}

.sliderContentDivIESpecific.close 
{
    /* transition-property: width;
    transition-duration: 1s; */
    width: 0px;
    overflow:hidden;
}

.sliderToggleDivStyle
{
    width:17px;
    /* width:2%; this is not a fix */
    float:left;
    height:100%;
    background-color:#fcfcfc;
    cursor:pointer;
}
.sliderToggleDivStyle:hover
{
    background-color:#f4f5f6
}

span.arrow
{
    position: relative;
    top:50%;
}

.sliderToggleDivStyle.close
{
    /*background-image: url(../images/arrow_slider_right.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 20px 20px;*/
    /*background-position: center;*/
}
.sliderToggleDivStyle.open
{
    /*background-image: url(../images/arrow_slider_left.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;*/
}

.content95
{
    height: calc(100% - 40px);
    width: 100%;
}

.content5
{
    height: 40px;
    width: 100%;
    background-color: #fefefe;
    overflow: visible;
}

.matrixRulesDiv
{
    float: left;
    height: 100%;
    width: calc(100% - 17px);
    /* width: 95%; This is not a fix */
    transition-property: width;
    transition-duration: 1s;
}

.matrixRulesDivIESpecific
{
    float: left;
    height: 100%;
    width: calc(100% - 17px);
    /* width: 95%; This is not a fix */
    transition-property: width;
    transition-duration: 1s;
}

.matrixRulesDiv.open
{
    height: 100%;
    width: calc(100% - 17px - 350px);
    /* width: 60%; this is not a fix */
    transition-property: width;
    transition-duration: 1s; 
}

.matrixRulesDivIESpecific.open
{
    height: 100%;
    width: calc(100% - 17px - 350px);
    /* width: 60%; this is not a fix */
    /* transition-property: width;
    transition-duration: 1s; */
}

.matrixRulesDiv.preferences
{
    background-color: rgb(252,252,252);
}

.tableLegend
{
    border-spacing: 0;
    padding-left: 20px;
}

.legendAvailable
{
    display: inline-block;
    width: 13px;
    min-height: 13px;
    background-color: #fefefe;
    border: 1px solid #dddddd;
}

.legendNonAvailable
{
    display: inline-block;
    width: 13px;
    min-height: 13px;
    background-color: #cccccc;
    border: 1px solid #dddddd;
}

.legendExternalRequirement
{
    display: inline-block;
    height: 30px;
    width: 70px;
    content: url(../images/legendExternalRequirement.png);
    background-size: 70px 30px;
    background-position: center;
}

.legendDefault
{
    display: inline-block;
    height: 25px;
    width: 25px;
    content: url(../images/Default.png);
    background-size: 25px 25px;
    background-position: center;
}

.MRsettingsLegend
{
    border: 1px solid grey;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px; 
}

tr.MRsettingsLegend
{
    height:50px;
    border: 1px grey;
}

.MRsettingsContent,
.MRSolverTracesContent
{
    border: 1px solid grey;
    /* padding-top: 10px; */
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.button_settings.btn
{
    float: right;
    margin-right: 10px;
    margin-top : 3px;
    min-width : 0px;
    padding: 2px 8px 2px 8px;
}

.button_bottom.btn
{
    float: right;
    margin-right: 5px;
    margin-top : 8px;
    margin-left: 5px;
    min-width : 0px;
    padding: 2px 8px 2px 8px;
    height: 24px;
}

span.fonticon.matrixrulespan
{
    margin : 0px;
}

div.driving_container
{
    background-color: #dddddd;
    min-height:50px;
    height:auto;
    width:calc(50% - 2px);
    float:left;
    border-color: #aaaaaa;
    border-radius: 7px;
    border-style: dashed;
    max-height: calc(100% - 30px);
    border-width: 2px;
    overflow:auto;
    margin: 1px;
    max-height:100%;
}

div.constrained_container
{
    background-color: #dddddd;
    min-height:50px;
    height:auto;
    width:calc(50% - 2px);
    float:left;
    border-color: #aaaaaa;
    border-radius: 7px;
    border-style: dashed;
    max-height: 100%;
    border-width: 2px;
    overflow:auto;
    margin: 1px;
    max-height:100%;
}

div.constrained_container_title
{
    background-color: #dddddd;
    min-height:30px;
    height:auto;
    width:calc(50% - 2px);
    float:left;
    border-style:solid;
    border-color: #aaaaaa;
    border-radius: 7px;
    text-align:center;
    border-width: 2px;
    margin: 1px;
}

div.driving_container_title
{
    background-color: #dddddd;
    min-height:30px;
    height:auto;
    width:calc(50% - 2px);
    float:left;
    border-style:solid;
    border-color: #aaaaaa;
    border-radius: 7px;
    text-align:center;
    border-width: 2px;
    margin: 1px;
}
/* -- can be safely removed now - was used for anther pure CSS loader - now using UIKit Mask for loading purpose -- 
#floatingCirclesG{
position:relative;
width:128px;
height:128px;
-moz-transform:scale(0.6);
-webkit-transform:scale(0.6);
-ms-transform:scale(0.6);
-o-transform:scale(0.6);
transform:scale(0.6);
}

.f_circleG{
position:absolute;
background-color:#FFFFFF;
height:23px;
width:23px;
-moz-border-radius:12px;
-moz-animation-name:f_fadeG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-border-radius:12px;
-webkit-animation-name:f_fadeG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-border-radius:12px;
-ms-animation-name:f_fadeG;
-ms-animation-duration:1.04s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-border-radius:12px;
-o-animation-name:f_fadeG;
-o-animation-duration:1.04s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
border-radius:12px;
animation-name:f_fadeG;
animation-duration:1.04s;
animation-iteration-count:infinite;
animation-direction:normal;
}

#frotateG_01{
left:0;
top:52px;
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#frotateG_02{
left:15px;
top:15px;
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#frotateG_03{
left:52px;
top:0;
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

#frotateG_04{
right:15px;
top:15px;
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

#frotateG_05{
right:0;
top:52px;
-moz-animation-delay:0.91s;
-webkit-animation-delay:0.91s;
-ms-animation-delay:0.91s;
-o-animation-delay:0.91s;
animation-delay:0.91s;
}

#frotateG_06{
right:15px;
bottom:15px;
-moz-animation-delay:1.04s;
-webkit-animation-delay:1.04s;
-ms-animation-delay:1.04s;
-o-animation-delay:1.04s;
animation-delay:1.04s;
}

#frotateG_07{
left:52px;
bottom:0;
-moz-animation-delay:1.17s;
-webkit-animation-delay:1.17s;
-ms-animation-delay:1.17s;
-o-animation-delay:1.17s;
animation-delay:1.17s;
}

#frotateG_08{
left:15px;
bottom:15px;
-moz-animation-delay:1.3s;
-webkit-animation-delay:1.3s;
-ms-animation-delay:1.3s;
-o-animation-delay:1.3s;
animation-delay:1.3s;
}


@-moz-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-webkit-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-ms-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@-o-keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}

@keyframes f_fadeG{
0%{
background-color:#000000}

100%{
background-color:#FFFFFF}

}
*/
/*
 .progress-image_rule {
  background: url("../images/utilProgressGraySmall.gif") no-repeat scroll 0 0 transparent;
  display: block;
  position: absolute;
  right: 50px;
  top: 8px;
  height: 18px;
  width: 18px;
  visibility:hidden;
}*/

 [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
}

.alert.MRAlert { /* overlapping position for alert to be display on top right corner */
    position:absolute;
    right:0;
}

.alert-message.MR_message
{
    position:relative;
    margin: 0 0 0 0;
}
