body {
	font-family: Verdana, Helvetica, sans serif;
	font-weight: normal;
	color: #000000;
	background: white;
	font-size: 8pt;
	}

table.table1 {
	width: 500px;
	margin-top: 0px;
	}

div#layermerge {
    visibility: hidden;
    }



/* _________________________________________________________________________________________________ */
/*              Doc Header                                                                           */
/* _________________________________________________________________________________________________ */
table.DocHeader {
	width: 500px;
	background-color: white; 
	margin-top: 0px;  
	}
	
/* ----------- Doc Header  ---   H1 Heading --------*/	
td.DocHeader1 { 
	background-color: #D2E6FE;       
	width: 100%;
	}
	
/*________________________ Separator, empty cell  _______________________*/
td.DocHeader4 {                 
    background-color: white;
	height: 8px;
	font-size: 2pt;
	}
	
/*  -------- Doc Header ----- Introduction   --------*/
td.DocHeader3 { 
	background-color: white;    
	border: 0px solid white ; 
   	height: 100%;
   	width: 100%;
	vertical-align: top;
	margin-top: 20pt;
	margin-bottom: 0pt;    
	}
	
table.DocHeaderIntro {
	width: 98%;
	vertical-align: top;
	margin-top: 0px;
	border: 1px solid  #D2E6FE;
	border-collapse: collapse;
	border-spacing: 0; 
	background-color: #F8FBFF;
	}
 
table.DocThemeIntro {
	width: 100%;
	vertical-align: top;
	margin-top: 0px;
	border: 1px solid  #D2E6FE; 
	background-color: #F8FBFF;  
	}

td.Intro1 { 
   	height: 100%;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	color:   #025BB5;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	}

td.Intro1Only { 
	height: 100%;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	color:   #025BB5;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
 	}

td.Intro2 { 
	height: 100%;
	vertical-align: top;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	color:   #025BB5;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
 	}

td.Intro1 ul {
	margin-right: 0px;	
	line-height: 12px;    
	} 
td.Intro1Only ul {
	margin-right: 0px;
	line-height: 12px;    
	} 
td.Intro2 ul {
	margin-right: 0px;
	line-height: 12px;    
	} 

/*-------------Special para. tag for header ------------------ */
p.header{
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-weight: normal;
	color: #025BB5;   
	font-size: 8pt;
	margin-left: 0pt;
	margin-bottom: 0pt;
	margin-right: 0pt;
	}

/*-------------Horizontal line in header ------------------ */
hr.header {
	color:  #316AC5; 
	background-color:  #316AC5;    
	height: 1pt; 
	}

/* _________________________________________________________________ */
/*        Doc Header       Navigation box                            */
/* _________________________________________________________________ */
td.DocHeader2 { 
	background-color: white;   
	width: 130px;
	padding: 0px;
	vertical-align: top;
  	}

table.DocTopics {
	width: 130px;
	background-color: #FEF8F1;
	border: 1px solid #FDE2C7;      
	font-family: Verdana, Helvetica, sans serif;
	font-size: 7pt;
	margin-top: 0px;
 	}
table.DocTopics td
	{
	font-size: 7pt; 
	padding: 1px;        
	}
td.TopicsTitle {
	font-family: Verdana, Helvetica, sans serif;
	font-weight: bold;
	color: #025BB5;       
	}
/* _________________________________________________________________________________________________ */
/*              Headings                                                                             */
/* _________________________________________________________________________________________________ */
h1 {
	font-weight:  normal ; 
	font-family: Arial;  		
	font-size: 16pt; 
	color:  #025BB5;        
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	}


h2 {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 13pt;              
	font-weight: normal; 
	color: #025BB5;         
	margin-top: 4pt; 
	margin-bottom: 2pt; 
	margin-left: 4px;
	text-align: left;
	padding-top: 5px;
	}

h3{
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 10pt; 
	font-weight: bold; 
	color: #025BB5;     	
	margin-top: 1pt; 
	margin-bottom: 2pt; 
	text-align: left;
	margin-left: 4px;
	padding-top: 5px;
	}

h4{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	font-weight: bold; 
	color:   #025BB5;        
	margin-top: 2pt; 
	margin-bottom: 0pt; 
	margin-left: 4px;
	text-align: left;
	padding-top: 5px;
	}

/* ________________________________________________________ */
/*    Horizontal line -                                     */
/* pb when use simple hr - cancels set page width!    */
hr.line {
	color: #316AC5; 
	background-color: #316AC5;
	width: 400px;
	height: 1pt;
 	text-align: center;
	} 

/* _________________________________________________________________________________________________ */
/*                                         le texte de base    oo                                    */
/* _________________________________________________________________________________________________ */

p {
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-weight: normal;	
	color: black;  
	font-size: 8pt;
	margin-left: 30pt;
	margin-right: 15pt;
	margin-top: 5pt;
	margin-bottom: 0pt;
	}
/* Resets margin of Normal when in li - for tables in numbered lists */
li p, p.task
	{
	margin-left: 0;
	}
/*   XMETAL - img in a p and img in tablenoborder ---*/           		
p IMG {
	margin-top: 5px;
	} 

/* ______________________________________________________________________ */
/*                                         Numbered List                  */
/* __________________________________________________________ ___________ */
ol { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; }

ol ol { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt;
	list-style-type: lower-alpha;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 30px;
	margin-right: 15px;
	padding: 0px;
	}

/* p.task {
	font-family: Verdana, Helvetica, sans serif; 
	font-style: normal; 
	font-weight: normal;	
	color: black; 
	font-size: 8pt;
	margin: 0;
	}  */

/*   Apply Normal.task first, then Numbered List.task   */          		
ol.task {	
	font-family: Verdana, Helvetica, sans serif;	
	font-size: 8pt; 
	line-height: 10pt; 
	font-weight: bold;
	color: #025BB5; 
	list-style-type: decimal;
	margin-left: 40px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
		} 

/*   XMETAL - ol.task no longer used */          		
li.stepexpand {	
	font-family: Verdana, Helvetica, sans serif;	
	font-size: 8pt; 
	line-height: 10pt; 
	font-weight: bold;
	color: #025BB5; 
	list-style-type: decimal;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0px;
		} 
li.stepexpand ul {	
	font-weight: normal;
	color: #000000; 
	margin-left: 0px;
		} 
li.stepexpand ol {	
	font-weight: normal;
	color: #000000; 
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 30px;
	margin-right: 15px;
	padding: 0px;
		} 
li.stepexpand p {	
	font-weight: normal;
	color: #000000; 
		} 


/*_____ Bulleted lists _______ */
ul {
	list-style-type: disc;
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt;  
	padding-top:    0px;
	padding-bottom: 2px;
	padding-left: 30px; 
	padding-right: 10px;
	margin-left: 40px;
	margin-right: 15px;
	margin-top: 5pt;
	margin-bottom: 0pt;
	}
ul ul {
	margin-left: 0px;
	margin-top: 2px;
	}
ul ul ul {
	margin-left: 0px;
	margin-top: 2px;
	}	

ol.task ul {
	margin-left: 0px;
	} 
ol.task ul.Remark {
	margin-left: 40px;
	} 
/* XMetaL -- */
li.stepexpand table.Remark{
	margin-left: 0px;
	} 
 

/* Blockquote */
/* ============= */
blockquote { 
	margin-left: 22pt;
	margin-top: 5pt;
	margin-bottom: 0pt; 
	}

/* ---------------------------------------------------- */
/* Tables                                                */
/* ---------------------------------------------------- */
/* --- top margin in table so that table after step aligns correctly ---- */	
table {border-collapse: collapse;
	margin-top: 5px;
	color: #000000;
	}


/*   XMETAL - p in a td - warning: in FP, without class affects p's elsewhere 
	because in FP, all in table 
	Also manage space for tables in ref topics --*/ 
          		
td.nocellnorowborder p {
	margin-left: 0;
	} 
td.cellrowborder p {
	margin-left: 0;
	} 
td.cell-norowborder p {
	margin-left: 0;
	} 

/* Resets left margin of Normal when inside indented tables */
table.Indented p {
	margin-left: 0px;
	}

/* to align with information box */
table.Indented {
	margin-left: 38px;
	margin-right: 22px;
	} 

table.InterfaceDesc {
	margin-left: 4px;
	width: 492px;
	margin-top: 5px;
	} 

td {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal;
	}
td.code2 {
	border:2px solid #FFFFFF; 
	background-color: #F2F2F2;
	padding: 2px;
	vertical-align: top
	 }
td.code {
	border:2px solid #FFFFFF; 
	background-color: #E0E0E0;
	padding: 2px;
	vertical-align: top
	 }
td.normal {}

td.padding {
	padding: 2px;
	vertical-align: top; 
	}

/*   for XMETAL - same as code2 */           		
td.cellrowborder {
	border:2px solid #FFFFFF; 
	background-color: #F2F2F2;
	padding: 2px;
	vertical-align: top
	 }

th {
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold;
	text-align: left;
	color: #024F9C;
	background-color: #E0E0E0; 
	border:2px solid #FFFFFF; 
	height: 20px;
	padding: 2px; }
th.normal {} 

ul.ReferenceTable {
	margin-left: 20px;
	margin-top: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
	padding-top:    0px;
	padding-bottom: 0px;
	padding-left: 0px; 
	padding-right: 0px;
	line-height: 12px;    
	}
p.referencetable {
	font-family: Verdana, Helvetica, sans serif;
	font-size: 8pt; 
	font-style: normal;
	color: black; 
	margin-left: 0px;
	margin-right: 5px;
	}

/* _______________________________________________________________________________ */
/*                       Information Boxes                                         */
/* reduced from 435 to 431 because created a horizontal scrollbar when in OL.task  */
/* Note: inside OL task and under P, the size and left-margin are same                 */
/* _______________________________________________________________________________ */

table.Remark{
	background-color:  #F8FBFF;  
	border: 1px solid   #D6D6E9 ;  
	width: 431px;
	margin-left: 40px;
	margin-top: 8px;
	color:  #025BB5; 
	}		
table.Remark p { 
	color:  #025BB5;
	}   
td.remark { 
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt; 
	color:  #025BB5;   
	text-align: justify;
	padding-top:    0px;
	padding-bottom: 4px;
	padding-left : 10px;
	padding-right: 10px;
 	}
ol.task table.Remark{
	margin-left: 0px;
	} 

/* XMetaL - set ul style when in td.Remark - no ul.Remark any more ----*/
td.remark ul {
	list-style-type: disc;
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt;  
	color:  #025BB5;   
	margin-top:    3pt;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-left: 40px;
	padding-top:    0px;
	padding-bottom: 0px;
	padding-left :  10px;
	padding-right: 10px;
	}



/* to set width for information box when inside UL / OL OL - otherwise exceeds 500px */
ul table.Remark {
	width: 383px;
	margin-left: 0px;
	} 
ol ol table.Remark {
	width: 383px;
	margin-left: 0px;
	} 

td.remark ol {
	margin-left: 50px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-right: 10px;
	list-style-type: decimal;
	}

/* -----list ---------*/
ul.Remark {
	list-style-type: disc;
	font-family: Verdana, Helvetica, sans serif;
	font-style: normal;
	font-size: 8pt;  
	color:  #025BB5;   
	margin-top:    3pt;
	margin-bottom: 0px;
	margin-right: 10px;
	padding-top:    0px;
	padding-bottom: 0px;
	padding-left :  10px;
	padding-right: 10px;
	}

/*   XMETAL for figures - figcap same as run-in; use class on div for top/bot margins */          		
span.figcap {
	font-weight:bold;
	color: #025BB5; 
	font-size: 8pt;
	}
div.fignone {
	margin-right: 15pt;
	margin-top: 5pt;
	margin-bottom: 0pt;
	} 

/* ----Font Overwrite ---------*/
/* ----------------------------*/
/* -----run-in tag ------------*/
span.run-in {
	font-weight:bold;
	color: #025BB5; 
	font-size: 8pt;
	}

/*   XMETAL domain elements   */          		
span.uicontrol { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666
	}
span.wintitle { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666
	}
span.menucascade { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666
	}
span.shortcut { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666
	}
span.cmdname { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666
	}
span.parmname { 
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
samp.codeph {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
var { 
	font-style: normal;
	}
var.varname { 
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
tt.msgph {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
tt.sysout {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
kbd.userinput {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em; 
	font-size: 8pt;
	font-weight: normal;
	}
span.filepath {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}
/*   XMETAL domain elements   */          		


/* -----commands, menu items, etc. ---------*/
kbd { 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	letter-spacing: -0.05em; 
	font-weight: bold; 
	color: #666666
	}
table.Remark kbd {
	color: #7D7D7D
	}
table.DocHeader kbd {
	color: #7D7D7D
	}

/* ----- new items---------*/
blink{ 
	font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	background: #FFFF80; 
	text-decoration: none
	}
/* ----- code ---------*/
code {
	color: #976970;  
	font-family: Courier New, Courier;
	letter-spacing: -0.05em;  
	font-size: 8pt;
	font-weight: normal;
	}

/* ----- subscript/superscript ---------*/
sub {	font-size: 7pt;}
sup {	font-size: 7pt;}


/* Used for preformatted text */
pre { font-family: Courier New, Courier; 
	font-weight: normal; 
	}
/* Used to high-light the Search result */
strike.search{ font-family: Verdana, Helvetica, sans serif; 
	color: #FFFFFF; 
	background: #111199; 
	text-decoration: none; 
	}


/* Definition: used in Glossary */
/* ============================== */
/* Definition List */
/* --------------- */
dl { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal; 
 	margin-right: 35px;
 	margin-bottom: 0px;
 	margin-left: 5px;
 	margin-top: 5px;
	}

/* Definition Term */
/* --------------- */
dt { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: bold; }

/* Definition Definition */
/* --------------------- */
dd { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal;
	margin-bottom: 3px;
	margin-left: 30px;
	}


/* Definition: used in what's new */
/* ============================== */
/* special class for dl in what's new */
/* --------------- */
dl.wn { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal; 
 	margin-right: 35px;
 	margin-bottom: 0px;
 	margin-left: 5px;
 	margin-top: 5px;
	}

/* dt in what's new */
/* --------------- */
dl.wn dt { font-family: Verdana, Helvetica, sans serif; 
	font-size: 8pt; 
	font-weight: normal; }


p.glossaryheader {
	font-family: Verdana, Helvetica, sans serif;
	font-weight: normal; 
	font-size: 10pt; 
	text-align: center;
	}

p.glossaryletter {
	font-family: Verdana, Helvetica, sans serif;
	font-size: 14pt; 
	font-weight: normal; 
	text-align: center;
	color:   #025BB5;        
	margin-top: 20px; 
	margin-bottom: 0px; 
	}

td.Intro1Only p.glossaryheader 
	{
	margin-left: 10px;
	} 

	
/* _______________________________________________________________________________________________________ */
/*      LINKs                                                                                              */
/* _______________________________________________________________________________________________________ */


a:link {
	color: #F27A02;
	text-decoration: none; 
	}
                       
a:visited  {
	color: #B60202;
	text-decoration: none; 
	}
	
a:hover  {
	background: #E0EEFF; 
	color: #B60202; 
	text-decoration: none; 
	}

a:link IMG {
	border: #F27A02; 
	border-width: 1px;
	border-style: solid;
	}

a:visited IMG {
	border: #B60202; 
	border-width: 1px;
	border-style: solid;
	} 

a:hover IMG {
	border: #E0EEFF; 
	border-width: 2px;
	border-style: solid;
	}

p.ssm1 a:link {
	color: #027AF2;
	}
p.ssm2 a:link {
	color: #027AF2;
	}
	
/* ========================================================== */
/* ====== Links in ut0000 and ut0100 ======================== */
/* ===Before inserting navigation, set para type to class === */
/* ========================================================== */

p.themes a, p.themes a:link, p.themes a:visited, p.themes a:hover
	{
	background-image: url('common/minitoc.gif'); 
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	}
p.usertasks a, p.usertasks a:link, p.usertasks a:visited, p.usertasks a:hover
	{
	background-image: url('common/ul2.gif'); 
	background-repeat: no-repeat;
	background-position: left;
	margin-left: 22px;
	padding-left: 15px;
	}

/* used in the TOC */
/* --------------- */
p.toc {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal;
	font-size: 8pt; 
	margin-top:0pt;
	margin-bottom: 0pt; 
	margin-left: -4pt;}
/* used in the Site Map */
/* -------------------- */
p.sm1 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: bold;
	font-size: 8pt;
	margin-left: 0pt;
	margin-top: 10pt;
	margin-bottom: 2pt; }
p.sm2 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal;
	font-size: 8pt;
	margin-top: 0pt;
	margin-bottom: 2pt; }
/* used in the Splitted Site Map */
/* ----------------------------- */
p.ssm1 {font-family: Verdana, Helvetica, sans serif;
	font-weight: bold; 
	font-size: 7pt; 
	margin-left: 0;
	margin-top: 9pt;
	margin-bottom: 1pt; }
p.ssm2 {font-family: Verdana, Helvetica, sans serif;
	font-weight: normal;
	font-size: 7pt;
	margin-top:0pt;
	margin-bottom: 1pt; }
/* used in the Index */
/* ----------------- */
p.ix1 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 8pt; 
	margin-left: 10; 
	margin-top:0pt; 
	margin-bottom: 2pt; }
p.ix2 {font-family: Verdana, Helvetica, sans serif; 
	font-weight: normal; 
	font-size: 8pt; 
	margin-left: 50; 
	margin-top:0pt; 
	margin-bottom: 2pt; }
