
.pimWebTreeListView .pimWebColorOK { background-color:rgb(111, 188, 75); }

.pimWebTreeListView .pimWebColorKO { background-color:rgb(204, 9, 47); }

.pimWebTreeListView .pimWebColorNotAnalyzed { background-color:rgb(254, 224, 0); }

.pimWebTreeListView .pimWebColorClash { background-color:rgb(204, 9, 47); }

.pimWebTreeListView .pimWebColorContact { background-color:rgb(255, 138, 46); }

.pimWebTreeListView .pimWebColorClearance { background-color:rgb(111, 188, 75); }

.pimWebTreeListView .pimWebColorNoInterference { background-color:rgb(0, 157, 219); }

.pimWebTreeListView .pimWebColorUndefined { background-color:rgb(254, 224, 0); }
