<div class="drive-management-heading">
    <div class="update-date">
        <p>{{NLS.lastUpdate}} {{Date}}</p>
    </div>
    <div class="search">
        <form class="usage-form">
            <div class="input-group">
                <input type="text" class="search-input form-control" placeholder="{{NLS.searchFor}}">
                <span class="input-group-btn">
                    <button class="search-button btn btn-default" type="submit">{{NLS.search}}</button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="drive-management-table">
    {{#if hasDrives}}
        <div class="drive__table">
        </div>
    {{else}}
        <span class="no-drives">{{NLS.noDrives}}</span>
    {{/if}}
</div>
