.selection-state-control {
  height: 100%; }
  .selection-state-control .selection-state-container {
    height: 100%;
    display: flex; }
    .selection-state-control .selection-state-container .state-icon-container {
      height: 100%;
      flex: 1;
      display: flex; }
      .selection-state-control .selection-state-container .state-icon-container .editable-icon-content {
        height: 100%;
        flex: 1;
        display: flex; }
        .selection-state-control .selection-state-container .state-icon-container .editable-icon-content .state-icon-content {
          display: flex;
          flex: 1;
          justify-content: center; }
          .selection-state-control .selection-state-container .state-icon-container .editable-icon-content .state-icon-content.available-state {
            opacity: 0; }
            .selection-state-control .selection-state-container .state-icon-container .editable-icon-content .state-icon-content.available-state:hover {
              opacity: 0.5; }
          .selection-state-control .selection-state-container .state-icon-container .editable-icon-content .state-icon-content.disable-state-change {
            pointer-events: none; }
        .selection-state-control .selection-state-container .state-icon-container .editable-icon-content .action-icon-content {
          display: flex; }
    .selection-state-control .selection-state-container .state-value-container {
      display: none;
      height: 100%;
      flex: 1; }
      .selection-state-control .selection-state-container .state-value-container .editable-value-content {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center; }
        .selection-state-control .selection-state-container .state-value-container .editable-value-content .state-value-content {
          display: flex; }
        .selection-state-control .selection-state-container .state-value-container .editable-value-content .state-value-unit {
          padding: 0 15px; }
    .selection-state-control .selection-state-container.value-content .state-icon-container {
      display: none; }
    .selection-state-control .selection-state-container.value-content .state-value-container {
      display: flex; }
