<!-- 'no-w' => To have the same 'ActiveCriteria' style as Tagger and Adv-Search ( see: asi11 ) -->
<div id="NGF_{{filterId}}" class="f-globalFilter-container {{containerHeightClass}} no-w">
      <div class="filter-Commands">
          <span class="filter-cmd-close fonticon fonticon-cancel" title="{{closeFilterPanel}}"></span>

          <span class="filter-ExtraCommands filter-cmd-expandPanel fonticon fonticon-resize-full" title="Expand filter panel"></span>
      </div>

      <div class="globalEdit-container" id="globalEditContainer_{{filterId}}" style="display: none;">
      </div>

      <div class="ActiveCriteria-container" id="FilterActiveCriteria_{{filterId}}" style="display: none;">
      </div>

      <div class="globalFilterView-container">
      </div>
</div>
