<div class="f-context-container {{stateClass}}">

  <div class="contextCriterion-edit">
  	<div class="addContextCriterion">

      <div class="context-header">
  		   <div class="displayNumberOfNodesAdded displayDivCSS">
  		    	<span class="context-nodesToAdd-expander fonticon fonticon-expand-down">{{nodes}}</span>
  	    		<span class="numberOfNodesToAdd"></span>
  		   </div>

         <span class="ctx-group-menu fonticon fonticon-chevron-down contextDropDown-add"></span>
      </div>

  		<div class="nodesAddDisplay">
  			<div class="selectablesDivToAdd selectablesDivCSS">
  				<span class="nodesAddedList"></span>
  			</div>
  			<!-- <div class="buttonToAddNodes buttonDivCSS"></div> -->
  		</div>

  	</div>

  	<div class="excludeContextCriterion">
       <div class="context-header">
  		    <div class="displayNumberOfNodesExcluded displayDivCSS">
  		    	  <span class="context-nodesToExclude-expander fonticon fonticon-expand-down"></span>
  		    	  <span class="numberOfNodesToExclude "></span>
  		    </div>
          <span class="ctx-group-menu fonticon fonticon-chevron-down contextDropDown-exclude"></span>
       </div>

  		 <div class="nodesExcludeDisplay">
  		 	<div class="selectablesDivToExclude selectablesDivCSS">
  		 		<span class="nodesExcludedList"></span>
  		 	</div>
  		 	<!-- <div class="buttonToExcludeNodes buttonDivCSS"></div> -->
  		 </div>
  	</div>

    <div class="buttonToValidate buttonDivCSS"></div>
  </div>

  <div class="contextCriterion-read">
    <span class="contextRead"></span>
  </div>
</div>
