<div class="f-global-container">
  <div class="global-header">
    <span class="global-header-name">{{globalHeaderFilter}}</span>
    <div class="global-header-name-edit">
      <span class="global-header-filtername"></span>
    </div>
    <span class="run_btn_search_filters fonticon fonticon-search-filter"></span>
    <span class="ctx-group-menu fonticon fonticon-chevron-down globalHeaderDropDown"></span>
  </div>

  <div class="global-filter-groups">
    <div id="filter-groups" class="filter-groups">
      <div class="addSpecificationButtons">
      </div>
    </div>
    <div id="keepAttributeChildren" class="keepAttributeChildren" style="display: none;">
      <span>{{attributeChildrenHiddenLabel}}</span>
    </div>
    <div id="filter-groups-cmd" class="filter-groups-cmd">
    </div>
  </div>
</div>

<div class="clearfix">
  <div class="global-footer">
    <button class="btn-primary btn btn-root applyFilterButtonLabel" id="applyFilterButton" type="button" disabled="true">{{applyFilterButtonLabel}}</button>
    <button class="btn-secondary btn btn-root saveFilterButtonLabel" id="saveFilterButton" type="button" disabled="true">{{saveFilterButtonLabel}}</button>
    <!--<button class="btn-secondary btn btn-root saveAsFilterButtonLabel" id="saveAsFilterButton" type="button" style="display: none;">{{saveAsFilterButtonLabel}}</button>-->
    <button class="btn-secondary btn btn-root saveAsFilterButtonLabel" id="saveAsFilterButton" type="button" disabled="true">{{saveAsFilterButtonLabel}}</button>
    <!-- <button class="btn-secondary btn btn-root closeFilterButtonLabel" id="closeFilterButton" type="button" active="true" style="display: none;">{{closeFilterButtonLabel}}</button> -->
  </div>
</div>
