/*Form and filters ----------------------------------------*/
#dsdocsearch_search{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	padding-left:20px;
	padding-right:20px;
	text-align:justify;
}

#dsdocsearch_search table.SearchForm{
	background-color: #D2E6FE;
	width: 100%;
}

#dsdocsearch_search table.SearchForm td{
	font-size: 10pt;
	font-weight: bold;
	color: #025BB5;
	width: 100%;
}
	
#dsdocsearch_search table.SearchForm1{
	font-size: 10pt;
	font-weight: bold;
	background-color: white;
	width: 100%;
}
	
#dsdocsearch_search table.SearchForm1 td{
	font-size: 8pt;
	font-weight: bold;
	width: 100%;	
}

#dsdocsearch_search input#q{
	border: 1px solid #025BB5;
	background-color: white;
	color: black;
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	font-weight: normal;
}

#dsdocsearch_search input#searchsubmit{
	padding: 0px;
	background-image: url("FrameImages/DSDocIcon_search_btn.gif");
	background-color: transparent;
	border: 0;
	height: 20px;
	width: 20px;
	z-index: 9;
}
#dsdocsearch_search input#searchsubmit:focus, input#searchsubmit:hover{
	background-image: url("FrameImages/IF_DSDocIcon_search_btn.gif");
	z-index: 9;
}


#dsdocsearch_search fieldset legend,#dsdocsearch_search fieldset select{
	font-size:8pt;
}

#dsdocsearch_search fieldset{
	border:none;
}

/*Results ----------------------------------------*/
#dsdocsearch_main{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	padding: 20px 20px;
	text-align:justify;
}

.dsdocsearch_title{
	font-style:italic;
	font-weight: bold;
	font-size:14pt;
	color: #025bb5;
}

/*Glossary ----------------------------------------*/
#dsdocsearch_glossary_azlist{
	background:#FFF;
	margin-top:-20px;
	border-top:1px solid #7B7B7B;
	padding-top:10px;
}

.dsdocsearch_glossary_azlist_link_active{
	border:1px solid #11C;
	padding-left:3px;
	padding-right:3px;
}
#dsdocsearch_glossary_azlist a,#dsdocsearch_glossary_azlist a:visited{
	color: #11C;
	text-decoration: none;
}

#dsdocsearch_glossary_azlist a:hover, #dsdocsearch_glossary_azlist a:focus{
	color: #11C;
	text-decoration: underline;
}

#dsdocsearch_glossary_only{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
	padding:20px 20px;
	background:#FFF;
}

#dsdocsearch_glossary{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
	padding:20px 20px;
	background:#F8FBFF; /*#FFC;*/
}

.dsdocsearch_glossary_word{
	font-size:10pt;
	color: #11C;
}

.dsdocsearch_glossary_defines{
	font-weight:normal;
	color:#444444;/*#7B7B7B;*/
	font-size:8pt;
}

.dsdocsearch_glossary_defines ul{
	list-style:none;
	margin-top:-0.25px;
}
.dsdocsearch_glossary_defines ol{
	margin-top:-0.25px;
}

.dsdocsearch_glossary_defines li{
}

#dsdocsearch_glossary_more{
	font-size:8pt;
	padding-top:10px;
	padding-bottom:10px;
}


/*Normal search ----------------------------------------*/
#dsdocsearch_txt
{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
}

#dsdocsearch_txt a,#dsdocsearch_txt a:visited{
	color: #11C;
	text-decoration: none;
}
#dsdocsearch_txt a:hover, #dsdocsearch_txt a:focus{
	color: #11C;
	text-decoration:underline;
}

.dsdocsearch_txt_item{
}

.dsdocsearch_txt_item_title{
	font-size: 11pt; 
}

.dsdocsearch_txt_item_desc{
	color:#444444;/*#7B7B7B;*/
	font-size: 9pt; 
}

.dsdocsearch_txt_item_techprod{
	color:#7B7B7B;
	font-size:85%;
	padding-bottom:7px;
}

/*Pagination ----------------------------------------*/
#dsdocsearch_nav{
	border-top:1px solid #7B7B7B;
	padding-top:10px;
}

#dsdocsearch_nav a,#dsdocsearch_nav a:visited{
	color: #11C;
	text-decoration:none;
}
#dsdocsearch_nav a:hover, #dsdocsearch_nav a:focus{
	color: #11C;
	text-decoration:underline;
}

.dsdocsearch_nav_active{
	border:1px solid #11C;
	padding-left:3px;
	padding-right:3px;
}

#dsdocsearch_legend{
	margin-top:-20px;
	color:#7B7B7B;
	font-size: 8pt;
	padding-bottom:10px;
}

/*Loading ----------------------------------------*/
#dsdocsearch_loading{
	font-family: Verdana, Helvetica, sans serif;
	font-size: 10pt;
	padding: 30px 30px;
	text-align:justify;
	border:1px solid #7B7B7B;
}

#dsdocsearch_loading_title{
	font-size: 12pt;
	font-weight:bold;
}
