.noModelsErrorMessage{
font-weight:normal;
font-size:16px;
color:#909090;
}

.CfgCustomModelTile-sub-container{
	width:100%;
	margin-top:5px;
}
.CfgCustomModelTile-body{
   max-width:150px;	
   min-width:150px;
   padding-right:10px;
}
.CfgCustomModelTile-expression-container{
	position:absolute;
	left:230px;
	right:30px;
	min-width:calc(100% - 300px);
	height:100%;		
}

.CfgCustomModelTile-expression{
margin-top: 10px;
height: calc(100% - 21px);
overflow: hidden;
border-left: 1px solid lightgrey;
padding-left: 10px;
padding-top: 5px;
}

@media (max-width: 750px){
	.CfgCustomModelTile-header{
		display : none!important;
	}

	.CfgCustomModelTile-subtitle{
		display : none !important;
	}

	.CfgCustomModelTile-content{
		display : none !important;
	}

	.CfgCustomModelTile-expression-container{
		left:5px;
		right:30px;
		top:10px;
				
	}

	.CfgCustomModelTile-expression{
		border:none;
		padding-left: 0px;
	}

}
@media (min-width: 751px){
	.CfgCustomModelTile-header{
		display : block !important;
	}

	.CfgCustomModelTile-subtitle{
		display : block !important;
	}

	.CfgCustomModelTile-content{
		display : block !important;
	}

	.CfgCustomModelTile-expression-container{
		left:230px;
		right:30px;
		top:0px;		
	}

	.CfgCustomModelTile-expression{
		border-left: 1px solid lightgrey;
	}

}
