

.cfgToggleComponentHolder{	
	display:flex;	
	float:right;
	margin-right:5px;
}

.cfgToggleLabel{
	text-overflow: ellipsis;	
	white-space: nowrap;
	overflow: hidden;
	font-weight:bold;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;	
}

.cfgToggleHolder{
	width: 55px;
	padding-left: 5px;
	padding-right: 5px;	
}
.cfgToggleHolder .toggle{
	margin-top:0px;
}

.cfgToggleTooltip {
    z-index:50500;
}

